.catalog-filters {
    background-color: #fff;
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.filter-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 8px 20px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    color: #555;
}

.filter-btn:hover, .filter-btn.active {
    background-color: #5d4fb5;
    color: white;
    border-color: #5d4fb5;
}

.sort-select {
    margin-left: auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}


.catalog-container {
    padding: 0 50px 60px 50px;
}

.genre-row {
    margin-bottom: 50px;
}

.genre-title {
    font-size: 24px;
    color: #3d3d8f;
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 5px solid #ff5742; 
}


.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    justify-content: start; 
}


.movie-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 20px rgba(0,0,0,0.1);
}

.movie-image {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    height: 350px; 
}

.movie-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.add-to-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 12px;
    background-color: #ff5742;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
}

.movie-card:hover .add-to-cart {
    opacity: 1;
    transform: translateY(0);
}

.movie-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.movie-author {
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}

.movie-price {
    font-size: 18px;
    font-weight: 600;
    color: #ff5742;
}

